{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'libs/modules/tabs/tabs.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/add_equipment.css' %}" />

<div>
  
    {%csrf_token%}

    <div id="menu2">
      <select id="demo2" multiple="multiple">
        // {% for equipment in eq_list %}
        <option readonly value="eq_{{equipment.0}}" data-section="{{equipment.2}}" data-description="{{equipment.3}}">
          {{equipment.1}}</option>
        // {% endfor %}
      </select>
      <script>
        var prices = {
          //{% for equipment in eq_list %}
          "eq_{{equipment.0}}": ["{{equipment.4}}", "{{equipment.6}}"],
          //{% endfor %}
        };
      </script>
      <div class="col">
        <h4 id="priceField">Итоговая цена: 0₴</h4>
      </div>
    </div>

    


</div>










<!-- _____________________________________________ SCRIPTS _____________________________________________ -->

<script src="{% static 'libs/modules/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'libs/modules/multiselect/jquery.tree-multiselect.js' %}"></script>
<script src="{% static 'js/add_equipment.js' %}"></script>
<script>
  $("select#categorySelect").treeMultiselect({maxSelections: 3, enableSelectAll: true, unselectAllText: true});
</script>
<!-- 
  let trees = $("select").treeMultiselect();
let firstTree = trees[0];
  $("select#id").append("<option value='newValue' data-section='New Section' selected='selected' data-description='New value'>New Value</option>");
firstTree.reload();
 -->
{% endblock %}