{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<div>
        {%csrf_token%}

        <div class="card-body">
            {% for acc in accountings %}
                <div class="card dark">
                    <h4>Запись на группу</h4>
                    <p>Руководитель: {{ acc.0.lead_name }}</p>
                    <p>Зам. по снару: {{ acc.0.responsible_person.name }}</p>
                    <small>Тип похода: {{ acc.0.type_of_hike }}</small>
                    <small>Даты аренды снара: {{ acc.1 }} </small>
                    <ul>
                        {% for eq in acc.2 %}
                            <div class="col">{{ eq.equipment.name }}<small>{{ eq.amount }}шт.</small></div>
                        {% endfor %}
                    </ul>

                </div>
            {% endfor %}
        </div>

</div>


{% endblock %}