{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'libs/modules/tabs/tabs.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />

<div>

  {%csrf_token%}




</div>
<div class="container">
  <div class="row">
    <div class="process">
      <div class="process-row nav nav-tabs">
        <div class="process-step">
          <button type="button" id="btn-menu1" class="btn btn-scrollable active-tab-label" data-toggle="tab"
            href="#menu1"></button>
          <label for="btn-menu1">
            <p><small>Сведения о группе</small></p>
          </label>
        </div>
        <div class="process-step">
          <button type="button" id="btn-menu2" class="btn btn-scrollable hidden-tab-label" data-toggle="tab"
            href="#menu2"></button>
          <label for="btn-menu1">
            <p><small>Выбор снаряжения</small></p>
          </label>
          <p><small></small></p>
        </div>
        <div class="process-step">
          <button type="button" id="btn-menu3" class="btn btn-scrollable hidden-tab-label" data-toggle="tab"
            href="#menu3"></button>
          <label for="btn-menu1">
            <p><small>Подтверждение</small></p>
          </label>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div id="menu1" class="tab-pane fade active in">
        <div class="form-group">
          <label for="responsiblePersonLabel">Ответственное лицо</label><br>
          <select class="selectpicker dark dark-childs" data-live-search="true" id="responsiblePersonSelector"
            data-size="5">
            {% for user in contacts_list %}
            <option data-tokens="{{user.0}}" value="{{user.0}}">{{user.1}}, {{user.2}}</option>
            {% endfor %}
          </select>
          <br>
          <small id="responsiblePersonHelp" class="form-text text-muted">Зам. по снару, руководитель или другой контакт,
            ответственный
            за взятый снар.</small>
        </div>
        <div class="form-group">
          <label for="leadLabel">Руководитель</label>
          <input type="text" class="form-control dark" id="leadInputField" placeholder="Смерека">
          <small id="leadInputHelp" class="form-text text-muted">Имя руковода группы.</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput2">Тип похода</label><br>
          <span>
            <select name="type" class="form-control custom-select dark-control dark">
              <option value="Пеший">ПВД</option>
              <option value="Лыжный">Лыжный</option>
              <option value="Водный">Другой тип</option>
            </select>
          </span>
          <small id="emailHelp" class="form-text text-muted">Имеет значение при расчёте цены.</small>
        </div>

        <div class="row">
          <div class="col">
            <label for="leadLabel">Новичков</label>
          </div>
          <div class="col">
            <label for="leadLabel">Студентов</label>
          </div>
        </div>
        <div class="row">
          <div class="col input-number">
            <input type="number" min="0" max="100" step="1" value="0">
          </div>
          <div class="col input-number">
            <input type="number" min="0" max="100" step="1" value="0">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="leadLabel">ДЧ</label>
          </div>
          <div class="col">
            <label for="leadLabel">Остальных</label>
          </div>
        </div>
        <div class="row">
          <div class="col input-number">
            <input type="number" min="0" max="100" step="1" value="0">
          </div>
          <div class="col input-number">
            <input type="number" min="0" max="100" step="1" value="0">
          </div>
        </div>
        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->

      </div>
      <div id="menu2" class="tab-pane fade">
        <!-- __________________________________________________________________________________________________ -->

        <select id="demo2" multiple="multiple">
          <option value="blueberry" data-section="Горное/Карабины" data-key="0">Карабин жуткий стальной</option>
          <option value="strawberry" data-section="Горное/Карабины" data-key="1">Карабин новый алюминиевый</option>
          <option value="peach" data-section="Горное/Системы" data-key="2">Система низ Terra Incognita</option>
          <option value="milk tea" data-section="Общее/Палатки" selected="" data-key="3">Terra тройка</option>
          <option value="green apple" data-section="Общее/Палатки" data-key="4">Terra двойка</option>
          <option value="passion fruit" data-section="Общее" selected="" readonly="" data-key="5">Бесполезная хрень
          </option>
        </select>

      </div>
      <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Some content in menu 3.</p>
      </div>
    </div>
  </div>







  <div class="col steps-control-panel">
    <hr />
    <button type="button" class="btn btn-info prev-step" disabled="true">Назад<i
        class="fa fa-chevron-right"></i></button>
    <button type="button" class="btn btn-info next-step">Далее<i class="fa fa-chevron-right"></i></button>
    <button type="submit" class="btn btn-info last-step" style="display: none;">Завершить<i
        class="fa fa-chevron-right"></i></button>
  </div>
</div>



<!-- 
  <button type="submit" class="btn btn-primary">Submit</button> -->
{% endblock %}