{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'libs/modules/tabs/tabs.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/add_equipment.css' %}" />
<script>
  function addCatButton() {
	$(".tree-multiselect div.section").toArray().forEach(addButtonsToEl);

    function addButtonsToEl(element) {
      obj_path = "";
      el_parent = element;
      while (el_parent.nodeName != "BODY") {
        if (el_parent.className.search("section") != -1) {
          elParentCat = $(el_parent).children('.title')[0].innerText;
          // console.log(elParentCat);
          if (obj_path == "") {
            obj_path = elParentCat;
          }
          else {
            obj_path = elParentCat + '/' + obj_path;
          }

        }
        el_parent = el_parent.parentElement;
      }
      $(element.firstChild).after(`<div class='item addCat'><a type='button' onclick="createNewFolderMenu('` + obj_path + `')"><img class="folder-icon" src="{% static 'icons/new_folder.svg' %}"></a><p class='p-tab'>/</p><a type='button' onclick="createNewItemMenu('` + obj_path + `')"><img class="add-item-btn" src="{% static 'icons/add_equipment.svg' %}"></a></div>`);
    }
  }
  function updatePrices() {
    $(".item").toArray().forEach(countPrice);
    function countPrice(line) {
      if (line.className == "item") {
        eqId = line.getAttribute("data-value");
        var price = prices[eqId][0];
        var amount = prices[eqId][1];
        line.id = eqId + "line";
        sName = line.querySelector('.section-name');        
        $('#' + line.id).append(`<span id="del_` + eqId + `" class='price-col'><a type="button" onclick=deleteEquipment('` + eqId + `')><img class="delete-icon" src="{% static 'icons/delete_item.svg' %}"></a></span>`);
        $('#' + line.id).append("<span class='price-col'>" + amount + "шт.</span>");
        $('#' + line.id).append("<span class='price-col'>" + price + "₴\t</span>");
      }
    }
  }
</script>
<div>

    {%csrf_token%}

    <div id="menu2">
      <select id="demo2" multiple="multiple">
        // {% for equipment in eq_list %}
        <option readonly value="eq_{{equipment.0}}" data-section="{{equipment.2}}" data-description="{{equipment.3}}">
          {{equipment.1}}</option>
        // {% endfor %}
        <option readonly value="eq_34235" data-section="Водное" data-description="Folder">Folder</option>
        <option readonly value="eq_34236" data-section="Вело" data-description="Folder">Folder</option>
        <option readonly value="eq_34237" data-section="Пешее" data-description="Folder">Folder</option>
        <option readonly value="eq_34238" data-section="Другое" data-description="Folder">Folder</option>
      </select>
      <script>
        var prices = {
          "eq_34235": [0,0],
          "eq_34236": [0,0],
          "eq_34237": [0,0],
          "eq_34238": [0,0],
          //{% for equipment in eq_list %}
          "eq_{{equipment.0}}": ["{{equipment.4}}", "{{equipment.6}}"],
          //{% endfor %}
        };
      </script>

    </div>

    


</div>










<!-- _____________________________________________ SCRIPTS _____________________________________________ -->

<script src="{% static 'libs/modules/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'libs/modules/multiselect/jquery.tree-multiselect.js' %}"></script>
<script src="{% static 'js/add_equipment.js' %}"></script>
<script>
  $("select#categorySelect").treeMultiselect({maxSelections: 3, enableSelectAll: true, unselectAllText: true});
</script>
<!-- 
  let trees = $("select").treeMultiselect();
let firstTree = trees[0];
  $("select#id").append("<option value='newValue' data-section='New Section' selected='selected' data-description='New value'>New Value</option>");
firstTree.reload();
 -->
{% endblock %}