.addCat {
	background-color: #4f5555;
}

.p-tab {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 2px;
	display: inline-block;
	text-align: center;
}

.item.addCat {
	display: inline-flex;
	margin-bottom: 0px;
	background-color: transparent;
}

.item.addCat a {
	text-decoration: underline;
	color: #aeaeae;
}


label.disabled {
	color: white !important;
}

input.option {
	display: none !important;
}

.btn.btn-outline-warning {
	margin-right: 15px;
}

#newItemPrice {
	display: inline-flex !important;
	flex-grow: 1;
}

.section .item {
	padding-left: 5px !important;

}

.add-item-btn {
	width: 20px;
}

.folder-icon {
	filter: invert(100%);
	width: 17px;
}

.delete-icon {
	filter: invert(60%);
	width: 17px;
	/* margin-bottom: 5px; */
	vertical-align: sub;
}

.temp-description-popup {
	z-index: 9;
}